.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper:last-child .hr {
  display: none;
}

.card {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.wrapper:hover {
  background-color: #f5f5f5;
  transition: background-color 200ms;
}

.title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  color: #171717;
}

.preview {
  margin: 0 0 12px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; /* 3줄까지만 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  font-size: 12px;
  color: #999;
}

.hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
