.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper:last-child .hr {
  display: none;
}

.card {
  display: flex;
  gap: 16px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.wrapper:hover {
  background-color: #f5f5f5;
  transition: background-color 50ms;
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; /* flex 아이템이 줄어들 수 있도록 */
}

.thumbnailArea {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 3px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}

.title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.preview {
  margin: 0 0 12px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 12px;
  color: #999;
}

.hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
