.simpleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: #171717;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 200ms;
}

.simpleButton:hover {
  background-color: #80808016;
}
