.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 13px;
  border: 0px solid #171717;
  border-right: none;
  border-radius: 3px 0 0 3px;
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: border-color 200ms;
}

.input:focus {
  border-color: #171717;
}

.searchButton {
  width: 48px;
  height: 40px;
  padding: 0;
  border: 0px solid #171717;
  border-left: none;
  border-radius: 3px 3px 3px 3px;
  background-color: #ffffff;
}
