@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-pink: #f7cac9;
  --color-blue: #92a8d1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
