.header {
  width: 100%;
  border-bottom: 1px solid #f7cac980;
  background-color: #ffffff;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 128px;
  padding: 0 24px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blogName {
  font-size: 20px;
  font-weight: 700;
  color: #171717;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  transition: background-color 200ms;
}

.menuButton:hover {
  background-color: #80808016;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mobileSearch {
  display: flex;
  padding: 0 24px 12px;
}

@media (min-width: 768px) {
  .mobileSearch {
    display: none;
  }
}

@media (max-width: 767px) {
  .center {
    display: none;
  }
}
